<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!local">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        
        <!-- Console Appender with tracing -->
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <mdc/>
                    <message/>
                    <stackTrace/>
                    <pattern>
                        <pattern>
                            {
                                "traceId": "%X{traceId:-}",
                                "spanId": "%X{spanId:-}",
                                "service": "authorization-service"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <!-- Splunk HEC Appender -->
        <appender name="SPLUNK" class="com.splunk.logging.HttpEventCollectorLogbackAppender">
            <url>${SPLUNK_HEC_URL:-http://localhost:8088/services/collector/event}</url>
            <token>${SPLUNK_HEC_TOKEN:-your-splunk-token}</token>
            <index>fintech</index>
            <source>authorization-service</source>
            <sourcetype>spring-boot</sourcetype>
            <layout class="net.logstash.logback.layout.LoggingEventCompositeJsonLayout">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <mdc/>
                    <message/>
                    <stackTrace/>
                    <pattern>
                        <pattern>
                            {
                                "traceId": "%X{traceId:-}",
                                "spanId": "%X{spanId:-}",
                                "service": "authorization-service",
                                "environment": "${ENVIRONMENT:-development}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </layout>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="SPLUNK"/>
        </root>
        
        <logger name="com.fintech" level="DEBUG"/>
        <logger name="io.github.resilience4j" level="DEBUG"/>
        <logger name="org.springframework.data.redis" level="DEBUG"/>
    </springProfile>

    <!-- Local development profile -->
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="com.fintech" level="DEBUG"/>
    </springProfile>
</configuration>
